.cardbooks {
  position: relative;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

 

.cardbooks:hover {
  transform: scale(1.05);
  
}

.cardbooks:hover::before {
  opacity: 1;
}
 

